@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('./Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: italic;
  src: url('./Roboto-Italic.ttf');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('./Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  font-style: normal;
  src: url('./Roboto-Bold.ttf');
}