.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px;
}

.card {
  padding: 18px;
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.20);
  }

  &__img {
    width: 150px;
    height: 150px;
    background: #eaeaeb;
    border-radius: 4px;
  }

  &__title {
    padding: 16px 0;
    display: block;
    white-space: break-spaces;
    max-width: 150px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #3D4B60;
  }

  &__description {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #7B838E;
  }
}